<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
		<script type="text/javascript"
						src="http://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js">
		</script>
		<script type="text/javascript" 
						src="http://static.robotwebtools.org/roslibjs/current/roslib.min.js">
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>  
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

		<style type="text/css">
			.hidden{display: none}
		</style>
  </head>

  <body>
		<div class="jumbotron jumbotron-fluid">
			<div class="container text-center">
				<h1 class="display-4">Telepresence control</h1>
				<img id="image" class="img-fluid" src="http://localhost:8080/stream?topic=/telepresence/image"
						onload="cbClientResized()" onclick="showCoords(event)"/>

				<div class="card">
					<div class="card-body btn-group btn-group-lg d-flex" role="group" aria-label="Basic example">
					  <button id="btn-left"  type="button btn-large" class="btn btn-primary">Left</button>
					  <button id="btn-right" type="button btn-large" class="btn btn-primary">Right</button>
					</div>
				</div>

				<div id="invalid_pos" class="alert alert-danger hidden" role="alert">
  				<h5>Clicked position is invalid.<h5>
				</div>
			</div>
		</div>



		<script>
				// connect to ROS
				var ros = new ROSLIB.Ros({
					url: 'ws://localhost:9090'
				});
				
				ros.on('connection', function() {
				  console.log('Connected to websocket server.');
				});
				
				ros.on('error', function(error) {
				  console.log('Error connecting to websocket server: ', error);
					alert('Error connecting to websocket server: ', error);
				});
				
				ros.on('close', function() {
				  console.log('Connection to websocket server closed.');
				});


				// click service
				var clickedPointSrv = new ROSLIB.Service({
					ros: ros,
					name: '/telepresence/clicked_point',
					serviceType: 'porszilo_telepresence/ClickedPoint'
				})


				var image = document.getElementById("image")

				function showCoords(event) {
					var x = event.pageX - image.offsetLeft;
					var y = event.pageY - image.offsetTop;
				
					var request = new ROSLIB.ServiceRequest({
						x: x,
						y: y
					})
				
					console.log("Sending request...");

					var inv_pos = document.getElementById("invalid_pos")

					clickedPointSrv.callService(request, function(result) {
						console.log("Calling service " + clickedPointSrv.name + ", success: " + result.success);
						if (!result.success) {
							inv_pos.style.display = "block";
							setTimeout(()=>{inv_pos.style.display="none"}, 2000);
						}
					})
				}
				
				// send new image size over ROS
				var pubCanvasSize = new ROSLIB.Topic({
					ros: ros,
					name: "/telepresence/canvas_size",
					messageType: "porszilo_telepresence/CanvasSize"
				})
				
				function cbClientResized() {
					var canvasSize = new ROSLIB.Message({
						width: image.width,
						height: image.height
					});
					pubCanvasSize.publish(canvasSize);
				}
				
				window.addEventListener("resize", cbClientResized);


				// manage buttons
				var pubTurnButtons = new ROSLIB.Topic({
					ros: ros,
					name: "/telepresence/turn_buttons",
					messageType: "std_msgs/String"
				})

				var btn_left       = document.getElementById("btn-left");
				var btn_right      = document.getElementById("btn-right");
				var btn_color_orig = btn_left.style.background;
				var btn_color_down = "white"
				var btn_msg        = new ROSLIB.Message()

				btn_left.onmousedown = () => {
					btn_msg.data = "btn-left-md"
					pubTurnButtons.publish(btn_msg)
					btn_left.style.background = btn_color_down;
				}
				btn_left.onmouseup = () => {
					btn_msg.data = "btn-left-mu"
					pubTurnButtons.publish(btn_msg)
					btn_left.style.background = btn_color_orig;
				}

				btn_right.onmousedown = () => {
					btn_msg.data = "btn-right-md"
					pubTurnButtons.publish(btn_msg)
					btn_right.style.background = btn_color_down;
				}
				btn_right.onmouseup = () => {
					btn_msg.data = "btn-right-mu"
					pubTurnButtons.publish(btn_msg)
					btn_right.style.background = btn_color_orig;
				}
		</script>
  </body>
</html>
