<launch>
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
	<node name="web_video_server"
			pkg="web_video_server" type="web_video_server">
		<param name="port" value="8080"/>
		<param name="address" value="localhost"/>
	</node>

	<node name="telepresence_server" 
			pkg="porszilo_telepresence_v2" type="server" output="screen">
	</node>

	<node name="telepresence" 
			pkg="porszilo_telepresence_v2" type="telepresence.py" output="screen">
	</node>

</launch>
