<launch>
 	<node name="cartographer_node" pkg="cartographer_ros" type="cartographer_node" args="
 					-configuration_directory $(find porszilo_navigation)/config
 					-configuration_basename realsense.lua" output="screen">
	 <remap from="points2" to="/camera/points" />
	 <remap from="imu" to="/imu/data" />
	</node>

 	<node name="cartographer_assets_writer" pkg="cartographer_ros" type="cartographer_assets_writer" args="
 					-configuration_directory $(find porszilo_navigation)/config
 					-configuration_basename realsense.lua" output="screen">
	 <remap from="points2" to="/camera/points" />
	 <remap from="imu" to="/imu/data" />
	</node>

</launch>
